@model IEnumerable<Account>
@{
    ViewData["Title"] = "Index";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h4 class="text-primary">Account Created</h4>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Account" asp-action="Create" class="btn btn-primary">
                <i class="bi bi-person-plus"></i> &nbsp; Add New Account
            </a>
        </div>
    </div>
</div>
</br>
<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>
                Account Number
            </th>
            <th>
                Account Name
            </th>
            <th>
                Account type
            </th>
            <th>
                Current Account Balance
            </th>
            <th>
                Date Created
            </th>
            <th>
                Date last updated
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model)
        {
            <tr>
                <td width="30%">
                    @obj.AccountNumber
                </td>
                <td width="30%">
                    @obj.AccountName
                </td>
                <td width="30%">
                    @obj.accountType
                </td>
                <td width="30%">
                    @obj.CurrentAccountBalance
                </td>
                <td width="30%">
                    @obj.CreatedDate
                </td>
                <td width="30%">
                    @obj.LastUpdatedDate
                </td>

                <td width="30%">
                    <div class="w-75 btn-group" role="group">
                        <a asp-controller="Account" asp-action="Edit" asp-route-accountId="@obj.Id" class="btn btn-primary"><i class="bi bi-pencil-square"></i>Edit</a>
                    </div>
                </td>
                <td width="30%">
                    <div class="w-75 btn-group" role="group">
                        <a asp-controller="Account" asp-action="Delete" asp-route-accountId="@obj.Id" class="btn btn-dark"><i class="bi bi-trash"></i>Delete</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>


